psutil
watchdog
paramiko
pyyaml
fabric
requests
httpx
celery
loguru
rich
coloredlogs
virtualenv
pipenv
tox
pytest
pytest-cov
mock
sqlalchemy
redis
numpy
pandas
openpyxl
matplotlib
